.hidden {
  opacity: 0;
}

@keyframes fade-in {
    from {opacity: 0; transform: translate(0px,40px)}
    to {opacity: 1; transform: translate(0px,0px)}
}
.fade-in-element {
  animation: fade-in 1.4s;
}
