.splash-screen {
  background-color: pink;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-805px);
}

.splash-screen.is-active {
  background-color: pink;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0px);
}
