.splash-screen {
  background-color: pink;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 50;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-805px);
  transition: transform 1s ease;
  span {
    font-size: 7.5vw;
  }
}

.splash-screen.is-active {
  background-color: pink;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0px);
  transition: transform 1s ease;
}

.wordtwo, .wordone {
  opacity: 0;
  transform: translate(0px,40px);

}

.wordtwo.is-active, .wordone.is-active {
  opacity:1 ;
  transform: translate(0px,0px);
  transition: opacity 1s ease, transform 1s ease;
}
