@import './navbar/nav.scss';

@font-face {
  font-family: 'FavoritPro-Regular';
  src:  url('../fonts/FavoritPro-Regular.otf') format('otf');
  font-style: normal;
}

body {
  font-family: 'FavoritPro-Regular';
  background-color: #b4ada8;
}

.purple {
  color: #ba1860;
  font-family: 'FavoritPro-Regular';
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  font-size: 7.5vw;
  white-space: nowrap;
}
