@import './navbar/nav.scss';
@import './holding-page/comingsoon.scss';


@font-face {
  font-family: 'FavoritPro-Regular';
  src:  url('../fonts/FavoritPro-Regular.otf') format('otf');
  font-style: normal;
}

body {
  font-family: 'FavoritPro-Regular';
  background-color: #b4ada8;
  margin: 20px 80px;
}

.purple {
  color: #ba1860;
  font-family: 'FavoritPro-Regular';
}

