@import './navbar/nav.scss';
@import './navbar/hamburger.scss';
@import './navbar/popout-sidebar.scss';
@import './holding-page/comingsoon.scss';
@import './animation/fadeanimation.scss';

$main-color: white;
$main-font-color: black;


@font-face {
  font-family: 'FavoritPro-Regular';
  src:  url('../fonts/FavoritPro-Regular.otf') format('otf');
  font-style: normal;
}

body {
  font-family: 'FavoritPro-Regular';
  background-color: $main-color;
  overflow-x: hidden;
}

.font-color {
  color: $main-font-color;
  font-family: 'FavoritPro-Regular';
}

.margins {
  margin: 20px 60px;
}


