header {
  height: 52px;
  padding: 0px 40px;
  position: fixed;
  top: 0;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 30;
  transition: top 0.3s;
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      display: inline;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  ul > li:first-of-type {
    margin-left: 0px;
  }
}

.web-navbar {
  display: none;
}
.burger-icon {
  width: 25px;
}

@media (min-width: 768px) {
  .burger-icon {
    width: 25px;
  }
  .web-navbar {
    display: inline;
  }
  .mobile-navbar {
    display: none;
    background-color: pink;
  }
}
