.side-navbar-container {
  position: absolute;
  right: -330px;
  width: 300px;
  background-color: pink;
  transform-origin: center right;
  transition: right 1s ease;
}

.side-navbar-container.is-active {
  right: 0px;
}



@media (min-width: 768px) {
  .side-navbar-container {
    display: none;
  }
}
