.side-navbar-container {
  position: fixed;
  top: 60px;
  right: -330px;
  width: 300px;
  background-color: pink;
  transform-origin: center right;
  transition: right 1s ease;
  z-index: 10;
  ul {
    list-style: none;
    cursor: default;
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color: black;
      }
    }
    li:hover {
      text-decoration: underline;
    }
  }
}

.side-navbar-container.is-active {
  right: 0px;
}

@media (min-width: 768px) {
  .side-navbar-container {
    display: none;
  }
}
