footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  ul {
    list-style: none;
    padding: 0px;
    li {
      margin: 0px;
    }
  }
  .footer-box {
    justify-self: center;
  }
}
